.footerWrapper {
  @apply w-screen h-fit bg-PrimaryBlack p-[10px] py-[50px];
}
.wrapperSection {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  @apply divide-y-[0.5px] divide-zinc-700;
}
.footerHeader {
  @apply flex flex-col pb-4;
  /* border-b-[.75px] border-zinc-600 */
  grid-column: span 2;
}
.centerWrapper {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  @apply w-full h-full gap-x-[10px] gap-y-4  py-4;
}
/* These Might be useful Letter */
/*.contactUs {
}
.legal {
}
.helpCenter {
}
.aboutUs {
}*/
/* .............. */
.gratitude {
  grid-column: span 2;
  @apply w-full flex flex-col items-center justify-center pt-3;
  /* border-t-[.75px] border-zinc-600  */
}
.socialLinks {
  @apply mt-4;
}
.socialIcons {
  @apply flex   space-x-2;
}
.socialIcon {
  @apply text-[20px] text-PrimaryWhite;
}
.Storefront {
  @apply flex my-3 space-x-3 items-center;
}
.StoreNote {
  position: relative;
  @apply w-full min-h-fit p-3 bg-NeutralStone;
}
.StoreNote::before {
  content: '';
  @apply bg-PrimaryWhite;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.special::after {
  content: 'special';
  position: absolute;
  @apply text-[11px] rounded-full text-BlueSpecial right-[50];
}

/* Footer Items */
.AddressItem {
  @apply text-NeutralWhite font-[poppins] w-full text-[13px] xexs:text-[14.5px];
  /* text-neutral-500 */
}
/* Footer Headers */
.AddressHeader {
  @apply text-PrimaryWhite font-[poppins] font-[400] xexs:text-[18px] text-[16px];
}
