.reviewsContainer {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75em;
  @apply w-screen min-h-screen bg-slate-200 divide-y-[.5px] divide-NeutralStone/30;
  align-content: start;
}
.singleReview {
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5em;
  @apply my-2;
}
/*.singleReview::before {
  content: '';
  position: absolute;
  width: 0.375em;
  height: 100%;
  @apply my-auto -left-[10px] bg-PurpleSpecial;
}*/
.categoryLabel {
  @apply bg-PinkSpecial text-[.85rem] text-PrimaryWhite italic font-extrabold py-[0.15em] px-[0.5em];
}
.reviewsHeading {
  @apply text-[15px] capitalize font-primary font-semibold text-PrimaryBlack leading-5 line-clamp-3;
}
.reviewsParagraph {
  @apply text-[15px] font-ternary italic text-NeutralStone leading-5 line-clamp-2;
}

.reviewsUpdateTime {
  @apply text-NeutralWhite font-[500] font-primary text-[11px];
}
