.sectionContainer {
  @apply w-screen min-h-screen py-[2em];
  display: grid;
  grid-template-columns: 1fr;
}

.singleReview {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1rem;
  align-items: center;
  @apply p-2 border-y-[.5px] border-[rgb(134,134,136)]/20;
}

.BrandName {
  @apply text-PurpleSpecial  font-primary text-[15px] font-[500];
}
.updateTime {
  @apply text-neutral-500 font-[500]  font-primary text-[11px];
}
.Heading {
  @apply text-[15px] font-primary font-semibold text-PrimaryBlack leading-5 line-clamp-4;
}
